.live-section {
  background-color: #036487;
  display: block;
  padding: 0 11rem;

  &-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    max-width: 115.2rem;
    min-height: 11rem;
    height: auto;
  }

  &-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 2rem 0 0;
  }

  .live-section-item {
    border-bottom: 1px solid #d5d8dc;
  }

  &-link {
    text-decoration: none;
    border-right: .1rem solid #024771;
    display: block;
    height: 100%;
    padding: 0 1.6rem 2rem;

    &:hover .live-section-item-content {
      text-decoration: underline;
    }
  }

  &-item-header {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: .4rem;
    width: 100%;
    gap: 0.5rem;
  }

  &-item-content {
    color: #fff;
    font-size: 1.3rem;
    font-weight: 600;
    line-height: 1.25;
    max-width: 100%;
    width: 100%;
  }

  &-header-time {
    color: #79c4df;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: .03rem;
    line-height: 1.42;
    position: relative;
  }

  &-header-alarm {
    color: #fff;
    background-color: #be1514;
    font-size: 1.2rem;
    font-weight: 450;
    padding: 0 0.2rem;
  }

  &-header-live {
    color: #fcfcfd;
    font-size: 1.2rem;
    line-height: 1.68rem;
    margin-right: .8rem;
    letter-spacing: .05em;
    text-transform: uppercase;
    font-weight: 450;
    display: flex;
    align-items: center;
  }

  &-header-live-icon {
    background-color: #be1514;
    border-radius: 1.2rem;
    display: inline-block;
    height: .6rem;
    width: .6rem;
    margin-right: .8rem;
    margin-bottom: .2rem;
  }

  &-right {
    flex: 1;
    flex-shrink: 0;
    font-size: 1.3rem;
    font-weight: 500;
    min-height: 8rem;
    min-width: 12rem;
    padding: 2rem 0 0 2rem;
    text-align: left;

    &:hover .live-section-more {
      color: #a1c5d2;
      text-decoration: none;
    }
  }

  &-more {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    color: #fff;
    text-decoration: underline;
    font-weight: 600;
  }
}

@media screen and (max-width: 1024px) {
  .live-section {
    display: none;
  }
}